@{
    ViewBag.Title = "Index2";
}

<h2>EF-GesAgro</h2>

@Html.ActionLink("RelCusEstXCusReal", "", "RelCusEstXCusRealController", null, new { @class = "btn btn-xs btn-filter" })
<!--<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="server">
 
<script type="text/javascript">
 $(document).ready(function () {
 
$("#btnExportar").click(function () {
 
var campos = "CustEstCod,CustEstTlhCod";
 
window.location = "/Home/GeraExcel/?CustoEstimado=CustEstCod&campos=" + campos;
 
});
 
});
 
</script>
 
</asp:Content>
<input type="button" id="btnExportar" value="Exportar custos" />-->